@font-face{
    font-family: HankenGrotesk;
    src: url(../fonts/static/HankenGrotesk-Medium.ttf);
    font-weight: 500;
  }
 
  @font-face{
    font-family: HankenGrotesk;
    src: url(../fonts/static/HankenGrotesk-Bold.ttf);
    font-weight: 700;
  }
  
  @font-face{
   font-family: HankenGrotesk;
   src: url(../fonts/static/HankenGrotesk-ExtraBold.ttf);
   font-weight: 800;
 }

  * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'HankenGrotesk', sans-serif;
  }
 
  html, body {
     width: 100%;
     height: 100vh;
  }

  ul {
    list-style: none;
  }

  a{
    text-decoration: none;
  }